.form-add{
  @include form;
  span{
    font-size: 1.3rem;
    font-weight: bolder;
  }
}


@media(min-width:768px){
  .form-add{
    width: 70%;
  }
}
@media(min-width:1024px){
  .form-add{
    width: 60%;
  }
}