.container-detail {
  width: 90%;
  margin: auto;
  background-color: $background-color1;
  .detail {
    .image-detail {
      width: 100%;
      text-align: center;
      align-self: center;
      img {
        width: 100%;
        max-width: 300px;
        max-height: 300px;
      }
    }
    .info-detail {
      padding: 10px;
      font-size: 1.2rem;
      text-align: center;
      .stock-detail{
        display: flex;
        justify-content: center;
      }
      .cuotas{
        font-weight: 600;
        color: rgb(18, 187, 46)
      }
      .description-detail{
        padding: 10px;
        background-color: #cfcfcef1;
        p{
          text-align: initial;
        }
      }
      .envios{
        font-weight: 600;
        color: $color-primary;
        margin: 1rem;
      }
      h2 {
        padding: 15px 0px;
        font-weight: bold;
        position: relative;
      }
      h2::before {
        content: "";
        position: absolute;
        height: 2px;
        left: 10%;
        bottom: 0;
        width: 80%;
        background: black;
      }
      p span {
        background-color: $color-primary;
        padding: 8px;
        border-radius: 8px;
      }
      
    }
  }
}
@media screen and (min-width: 768px) {
  .detail{
    display: flex;
  }
}
