.navbar{
 background-image: radial-gradient(circle at 50% -20.71%, #4b4a49 0, #061925 50%, #000000 100%);
}
.list{
  font-size: 1.8rem;
}
.container{
  margin-top: 15px;
  margin-bottom: 15px;
}
.collapse{
  flex-grow: unset;
}