.container-breadcrumb{
  background-color: #3ac8c8;
  padding: 15px;
  border-radius: 5px;
  
}
.container-breadcrumb ol{
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
}
.container-breadcrumb a{
  text-decoration: none;
  margin-right: 10px;
 }


.bread-item::before{
  content: "/";

}